<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guojian.server.mapper.MenuRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guojian.server.pojo.MenuRole">
        <id column="id" property="id" />
        <result column="mid" property="mid" />
        <result column="rid" property="rid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mid, rid
    </sql>

    <!--  插入角色菜单的对应关系  -->
    <insert id="insertRecord">
        insert into t_menu_role(mid, rid) values
        <foreach collection="menuIds" item="mid" separator=",">
            (#{mid},#{roleId})
        </foreach>
    </insert>

</mapper>
